.central-projects {
    position: relative;

}
.btnProject {
    font-size: 22px;
    border-radius: 100%;
    padding: 10px;
}
.btnProject:hover {
    background-color: #a1bdc940;
}
.btnProject:active {
    background-color: #a1bdc965;
}
