@import "./components/languageSwitch/style.scss";
.header {
    //position: fixed;
    background-color: rgba(19, 39, 48, 0.75);
    display: flex;
    padding: 7px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    transition: top .5s ease;
    .languageNameSm {
        display: none;
    }
}

@media (max-width: 600px) {
    .portfolio-alef-logo {
        width: 2.5em !important;
    }
    .header {
        nav {
            a {
                font-size: 18px !important;
            }
        }
    }
}

@media (max-width: 500px) {
    .portfolio-alef-logo {
        width: 2em !important;
    }
    .header {
        nav {
            a {
                font-size: 16px !important;
            }
        }
    }
}