@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./components/components.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
    //transition: all .2s ease-in-out;
    font-family: Saira, sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    transition: .3s ease;
}
body {
    color: white;
    font-size: 18px;
    
}
.ltr { direction: ltr }
.rtl { direction: rtl }

body::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
}

body::-webkit-scrollbar-track {
    background: #a1bdc940; /* Cor de fundo da trilha da barra de rolagem */
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #97DCFC; /* Cor da barra de rolagem */
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #8cd5f7; /* Cor da barra de rolagem ao passar o mouse */
}




//media queries 

@media (max-width: 475px) {
    .central-projects {
        flex-direction: column;
        gap: 1.75em;
        .projects-padron {
            order: 2;
            gap: 1.75em;
        }
        .h1Projects {
            order: 1;
        }

    }
    .imagesProjectBody {
        height: 27vh;
    }
    .bottomProjectBody {
        font-size: 28px;
    }
}
@media (max-width: 785px) {
    .aboutProject {
        justify-content: center;
        align-items: center;
        gap: 1em;
        flex-direction: column;
    }
    .imagesProjectBody {
        height: 35vh;
    }
    .bottomProjectBody {
        font-size: 30px;
    }
}
@media (max-width: 810px) { 
    .central-projects {
        flex-direction: column;
        gap: 1.75em;
        .projects-padron {
            order: 2;
            gap: 1.75em;
        }
        .h1Projects {
            order: 1;
        }
    }
    .imagesProjectBody {
        height: 50vh;
    }
    .bottomProjectBody {
        font-size: 35px;
    }
}

@media (max-width: 1062px) {
    .central-projects {
        flex-direction: column;
        gap: 1.75em;
        .projects-padron {
            order: 2;
            gap: 1.75em;
        }
        .h1Projects {
            order: 1;
        }
    }
    .imagesProjectBody {
        height: 55vh;
    }
    .bottomProjectBody {
        font-size: 40px;
    }
}
@media (max-width: 1100px) {
    .imagesProjectBody {
        height: 65vh;
    }
    .bottomProjectBody {
        font-size: 45px;
    }
}