.iconTag {
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    z-index: 1;
    overflow: hidden;
  }
.iconTag::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: hsl(0deg 58.06% 89.09% / 10%);
    backdrop-filter: blur(10px);
    z-index: -1;
  }